<!DOCTYPE html>
<html>
<head>
	<title>WWCMain</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="CSS/style.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale-1">

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top">

		<a class="navbar-brand NavFont" href="index.html">WWC</a>

		<ul class="navbar-nav ml-auto ">
			
			<li class="nav-item dropdown">
				
				<a href="index.html" class="nav-link dropdown-toggle NavSectionsFont" id="menuDrop" data-toggle="dropdown">
					
					Menu

				</a>

				<div class="dropdown-menu">
					
					<a href="sports.html" class="dropdown-item">Sports</a>

					<a href="economics.html" class="dropdown-item">Economics</a>

					<a href="weather.html" class="dropdown-item">Weather</a>

				</div>

			</li>

		</ul>
		
	</nav>

<div class="header">
	
	<h3 class="NavFont">BUY OUR <a class= "wordChange NavFont">WATER</a></h3>

</div>

<div id="sticky-anchor">
<button type="button" class="btn btn-outline-dark menubtn sticky left" onclick="openNav()">Options</button>
</div>

<br>

<div class="container-fluid">

	

	<div id="myNav" class="overlay">
		
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


		<div class="overlay-content">
			
			<a href="information.html">Information</a>
			


		</div>

	</div>


	<div class="row">
		
		<div class="col-md-6 text-center">
			
				<table class="table table-borderless">
				
				<thead>
					
					<tr>
						
						<th class="articleHeadings">Sustainable Earth: <a class="wordChange articleHeadings">Water</a></th> <!-- Heading found at https://www.nationalgeographic.com/environment/sustainable-earth/water/ -->

					</tr>

				</thead>

				<tbody>
					
					<tr>
						
						<th>
							
							<img src="Assets/Images/WaterArticleImage.jpg" class="img-rounded articleBig"> <!-- Image found at https://www.thegef.org/news/importance-water-sustainability -->

						</th>

					</tr>

					<tr>
						
						<th>
							
							<!-- Article found at https://www.nationalgeographic.com/environment/sustainable-earth/water/ -->
							<p class="paragraphSmall">
								
								CLEAN <a class= "wordChange ">WATER</a> IS essential for life, but most <a>people</a> in the developed <a>world</a> don't think much about the <a class= "wordChange ">water</a> they use for drinking, food preparation, and sanitation. In developing nations, however, the search for safe drinking <a class= "wordChange ">water</a> can be a daily crisis. Millions of <a>people</a> die each year, most of them children, from largely preventable diseases caused by a lack of access to clean <a class= "wordChange ">water</a> and proper sanitation.

							</p>
							

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								Sandra Postel, director of the Global <a class= "wordChange ">Water</a> Policy Project and the National Geographic Society's fresh<a class= "wordChange ">water</a> fellow, said fresh<a class= "wordChange ">water</a> scarcity presents a growing problem to be addressed during the United Nations Conference on Sustainable Development (Rio+20) in Brazil from June 20 to 22. "It manifests itself in the depletion of ground<a class= "wordChange ">water</a>, and the drying up of rivers and lakes upon which <a>people</a> depend for irrigation to grow their food," she said. "The intersection of <a class= "wordChange ">water</a> scarcity, food security, and a changing climate on top of it all raises a suite of <a class= "wordChange ">water</a> concerns that urgently need to be addressed."

							</p>

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
										
								Much progress is possible. In fact, due to the dedicated efforts of governments and NGOs since the 1992 Earth Summit, safe drinking <a class= "wordChange ">water</a> has been made available to some 1.7 billion <a>people</a> around the world, with projects ranging from modern piped plumbing to rain<a class= "wordChange ">water</a> collection and storage.
										
							</p>

						</th>

					</tr>

					<tr>
							
						<th>
								
							<p class="paragraphSmall">
									
								But an estimated 880 million <a>people</a> still don't have regular access to clean <a class= "wordChange ">water</a>. "And we haven't made nearly as much progress on sanitation," Postel said. "Something like 2.7 billion <a>people</a> are without adequate sanitation, so that challenge still looms very large." Policymakers will struggle to lower both numbers even as the planet's population rises by an expected three billion over the next 50 to 75 years.

							</p>

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								About 5,000 children die each day due to preventable diarrheal diseases such as cholera and dysentery, which spread when <a>people</a> use contaminated <a class= "wordChange ">water</a> for drinking or cooking. A lack of <a class= "wordChange ">water</a> for personal hygiene leads to the spread of totally preventable ailments like trachoma, which has blinded some six million <a>people</a>.

							</p>

						</th>

					</tr>

					<tr>
						
						<td>
							
							<img src="Assets/Images/WaterArticleImage2.jpg" class="articleBig">

						</td>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								<a class= "wordChange ">Water</a> woes also trap many low-income families in a cycle of poverty and poor education—and the poorest suffer most from lack of access to <a class= "wordChange ">water</a>. <a>People</a> who spend much of their time in ill health, caring for sick children, or laboriously collecting <a class= "wordChange ">water</a> at distances averaging 3.75 miles (6 kilometers) a day are denied educational and economic opportunities to better their lives.

							</p>

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								Competition can be fierce for this precious commodity. Agriculture claims the lion's share of fresh<a class= "wordChange ">water</a> worldwide, soaking up some 70 percent, and industrial uses consume another 22 percent. <a class= "wordChange ">Water</a>sheds and aquifers don't respect political borders and nations don't always work together to share common resources—so <a class= "wordChange ">water</a> can be a frequent source of international conflict as well.

							</p>

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								Day-by-day demand keeps growing, further draining <a class= "wordChange ">water</a> sources, from great rivers to underground aquifers. "We're going deeper into debt on our ground<a class= "wordChange ">water</a> use," Postel said, "and that has very significant impacts for global <a class= "wordChange ">water</a> security. The rate of ground<a class= "wordChange ">water</a> depletion has doubled since 1960."

							</p>

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								Some of Earth's ground<a class= "wordChange ">water</a> is fossil <a class= "wordChange ">water</a>, created when Earth's climate was far different. Today such <a class= "wordChange ">water</a> is as finite as petroleum. Other aquifers are renewable. "But we're pumping many of them out faster than precipitation is recharging them," Postel explained. "This is the case underneath the breadbasket of India, underneath the wheat and cornfields on the plains of north China, under California's Central Valley. We need to bring withdrawals into balance with recharge."

							</p>

						</th>

					</tr>

					<tr>
						
						<th>
							
							<p class="paragraphSmall">
								
								Humanity's growing thirst also poses a major problem for aquatic ecosystems. "When we take <a class= "wordChange ">water</a> from rivers, floodplains, and <a class= "wordChange ">water</a>sheds, those ecosystems bear the brunt of <a class= "wordChange ">water</a> scarcity and begin to be degraded or disappear," she said. "And that also creates a cost to us, not just to nature, because we also depend upon those ecosystems."

							</p>

						</th>

					</tr>

				</tbody>

			</table>

		</div>

		<div class="col-md-2 text-center">
			
		

		</div>

		<div class="col-md-4 text-center">
		
		<table class="table table-borderless">
			
			<tbody>
				
				<tr> 

					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
						<img src="Assets/Images/WoolworthsWaterArticle.jpg" class="img-rounded article2" id="wooliesWaterAd"> <!--Image from https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-1-5L/_/A-20088866 -->
						</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds" class="headings wordChange"  id="wooliesWaterText">Check Out Our Water!</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
					</td>

				</tr>

					<tr> 

					<td>
						
							<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
						<img src="Assets/Images/WoolworthsWaterArticle.jpg" class="img-rounded article2" id="wooliesWaterAd"> <!--Image from https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-1-5L/_/A-20088866 -->
						</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds" class="headings wordChange"  id="wooliesWaterText">Check Out Our Water!</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
					</td>

				</tr>

					<tr> 

					<td>
						
							<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
						<img src="Assets/Images/WoolworthsWaterArticle.jpg" class="img-rounded article2" id="wooliesWaterAd"> <!--Image from https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-1-5L/_/A-20088866 -->
						</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds" class="headings wordChange"  id="wooliesWaterText">Check Out Our Water!</a>

					</td>

				</tr>

				<tr>
					
					<td>
						

					</td>

				</tr>

					<tr> 

					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
						<img src="Assets/Images/WoolworthsWaterArticle.jpg" class="img-rounded article2" id="wooliesWaterAd"> <!--Image from https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-1-5L/_/A-20088866 -->
						</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds" class="headings wordChange"  id="wooliesWaterText">Check Out Our Water!</a>

					</td>

				</tr>

			</tbody>


		</table>

		</div>
		
	</div>

<div class="row">
	
<div class="col-md-12">
	
<table class="table table-borderless">
	
	<tbody>
		
		<tr>
			
			<td>
				
				<p class="NavSectionsFont">On the App Store Now</p>	

			</td>

			<td>
				
				<p class="NavSectionsFont">Follow Us On</p>

			</td>

		</tr>

		<tr>
			
			<td>
				
				<img src="Assets/Images/AppImage.png">
				<img src="Assets/Images/AppImage2.png">

			</td>

			<td>
				
				<img src="Assets/Images/facebook3.png" class="bottomInfo"> <!-- Image found at https://www.armstrongsgroup.com/contact/facebook-logo-black-and-white-png/ -->
				<img src="Assets/Images/twitter.png" class="bottomInfo"> <!--Image found at https://www.iconsdb.com/white-icons/twitter-icon.html -->
				<img src="Assets/Images/instagram2.png" class="bottomInfo"> <!-- Image found at https://sickboat.com/about/instagram-logo-black-png/ -->
			</td>

		</tr>

		<tr>
			<td>
				
			</td>
		</tr>

	</tbody>

</table>

</div>

</div>

<br>
<br>

<div class="footer">
	
<div id="demo" class="carousel slide" data-ride="carousel">
	

	<div class="carousel-inner">
		
		<div class="carousel-item active">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds"> 
			<img src="Assets/Images/WooliesAd3.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

		<div class="carousel-item">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
			<img src="Assets/Images/WooliesAd.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

		<div class="carousel-item">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
			<img src="Assets/Images/WooliesAd2.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

	</div>

</div>

</table>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="JS/jquery-3.3.1.js"></script>

<script type="text/javascript" src="JS/script.js"></script>


<script type="text/javascript" src="JS/dictionary.js"></script>





</body>
</html>