<!DOCTYPE html>
<html>
<head>
	<title>WWCMain</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="CSS/style.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale-1">

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top">

		<a class="navbar-brand NavFont" href="index.html">WWC</a>

		<ul class="navbar-nav ml-auto ">
			
			<li class="nav-item dropdown">
				
				<a href="index.html" class="nav-link dropdown-toggle NavSectionsFont" id="menuDrop" data-toggle="dropdown">
					
					Menu

				</a>

				<div class="dropdown-menu">
					
					<a href="sports.html" class="dropdown-item">Sports</a>

					<a href="economics.html" class="dropdown-item">Economics</a>

					<a href="weather.html" class="dropdown-item">Weather</a>

				</div>

			</li>

		</ul>
		
	</nav>

<div class="header">
	
	<h3 class="NavFont">Economics</h3>

</div>

<div id="sticky-anchor">
<button type="button" class="btn btn-outline-dark menubtn sticky left" onclick="openNav()">Options</button>
</div>

<br>

<div class="container-fluid">

	

	<div id="myNav" class="overlay">
		
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


		<div class="overlay-content">
			
			<a href="information.html">Information</a>
	


		</div>

	</div>


	<div class="row">
		
		<div class="col-md-6 text-center">
			
			<table class="table table-borderless">
				
				<tbody>
					
					<tr>
						
						<td>
							
							<a href="article.html" >
							<img class="img-rounded article1"  src="Assets/Images/TrumpArticleImage.jpg"> <!--Image found at https://www.cnbc.com/2019/06/05/trump-policy-domm-190604-ec.html -->

							</a>

						</td>

					</tr>

					<tr>
						
						<td>
							
							<a class="headings" href="article.html">Why Trump’s pivot to using tariffs as a political weapon is so dangerous for the economy
							</a>

							<!--Heading found at https://www.cnbc.com/2019/06/05/trump-policy-domm-190604-ec.html --> 

						</td>


					</tr>
					<tr>
						<td>
							<p class="paragraphLarge">President Donald Trump prides himself on bold negotiating tactics, but his threat to slap tariffs on Mexico for not cracking down on immigrants turns a powerful trade tool into a dangerous weapon that could backfire.</p> <!--Article found at https://www.cnbc.com/2019/06/05/trump-policy-domm-190604-ec.html -->

						</td>

					</tr>

					<tr>
						
						<td>
						</td>

					</tr>
					<tr>
						
						<td>
							
							<a href="article.html">
							<img src="Assets/Images/DrukenmillerArticleImage.jpg" class="img-rounded article1"> <!-- Image from https://www.cnbc.com/2019/06/07/druckenmiller-says-the-us-is-in-bad-shape-for-a-recession-because-of-ballooning-corporate-debt.html -->
							</a>

						</td>

					</tr>

					<tr>
						
						<td>
							
							<a href="article.index" class="headings">Druckenmiller says ballooning corporate debt could mean big trouble if a recession hits</a> <!-- Headline from https://www.cnbc.com/2019/06/07/druckenmiller-says-the-us-is-in-bad-shape-for-a-recession-because-of-ballooning-corporate-debt.html -->

						</td>

					</tr>

					<tr>
						
						<td>
							
							<p class="paragraphLarge">
							Millionaire hedge fund investor Stanley Druckenmiller said Friday that mounting corporate debt puts the U.S. in bad shape in the event of a recession.</p> <!--Article from https://www.cnbc.com/2019/06/07/druckenmiller-says-the-us-is-in-bad-shape-for-a-recession-because-of-ballooning-corporate-debt.html  -->

						</td>

					</tr>

				</tbody>


			</table>

		</div>

		<div class="col-md-2">
			

		</div>

		<div class="col-md-4 text-center">
		
		<table class="table table-borderless">
			
			<tbody>
				
				<tr>
					
					<td>

						<a href="article.html">
						<img class="img-rounded article2" src="Assets/Images/EconomistArticleImage.jpg"> <!-- Image found at https://www.cnbc.com/2019/06/07/fed-cant-offset-effects-of-trade-tariffs-on-china-mexico-experts.html -->
						</a>
					</td>

				</tr>

				<tr>
					
					<td>
						<a href="article.html" class="headingsSmall">Economists: The Fed ‘isn’t enough’ to offset damage of tariff skirmishes with China and Mexico </a>
						<p class="paragraphLarge">
						A dovish Federal Reserve can use tools such as rate cuts to lessen the damage of America’s tariff skirmishes with China and Mexico, but it is either limited in its effectiveness or in its motivations, two economists told CNBC on Thursday.

						</p>

						<!-- Article found at https://www.cnbc.com/2019/06/07/fed-cant-offset-effects-of-trade-tariffs-on-china-mexico-experts.html -->

					</td>


				</tr>

				<tr>
					
					<td></td>

				</tr>

				<tr>
					
					<td>

						<a href="article.html">
						<img src="Assets/Images/JobArticleImage.jpg" class="img-rounded article2"> <!-- Image found at https://www.cnbc.com/2019/06/05/job-growth-screeches-to-near-halt-in-mayprivate-payrolls-up-just-27k.html -->

						</a>

					</td>
				</tr>

				<tr>
					
					<td>
						
						<a href="article.html" class="headingsSmall">Job growth screeches to a near halt in May, with private payrolls up just 27,000</a>
						<p class="paragraphLarge"> Job creation skidded to a near-halt in May in another sign that the U.S. economic momentum is slowing. </p> <!-- Article found at https://www.cnbc.com/2019/06/05/job-growth-screeches-to-near-halt-in-mayprivate-payrolls-up-just-27k.html -->

					</td>

				</tr>


				<tr>
					
					<td></td>

				</tr>

				<tr> 

					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
						<img src="Assets/Images/WoolworthsWaterArticle.jpg" class="img-rounded article2" id="wooliesWaterAd"> <!--Image from https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-1-5L/_/A-20088866 -->
						</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds" class="headings"  id="wooliesWaterText">Check Out Our Water!</a>

					</td>

				</tr>

			</tbody>


		</table>

		</div>
		
	</div>

<div class="row">
	
<div class="col-md-12">
	
<table class="table table-borderless">
	
	<tbody>
		
		<tr>
			
			<td>
				
				<p class="NavSectionsFont">On the App Store Now</p>	

			</td>

			<td>
				
				<p class="NavSectionsFont">Follow Us On</p>

			</td>

		</tr>

		<tr>
			
			<td>
				
				<img src="Assets/Images/AppImage.png">
				<img src="Assets/Images/AppImage2.png">

			</td>

			<td>
				
				<img src="Assets/Images/facebook3.png" class="bottomInfo"> <!-- Image found at https://www.armstrongsgroup.com/contact/facebook-logo-black-and-white-png/ -->
				<img src="Assets/Images/twitter.png" class="bottomInfo"> <!--Image found at https://www.iconsdb.com/white-icons/twitter-icon.html -->
				<img src="Assets/Images/instagram2.png" class="bottomInfo"> <!-- Image found at https://sickboat.com/about/instagram-logo-black-png/ -->
			</td>

		</tr>

		<tr>
			<td>
				
			</td>
		</tr>

	</tbody>

</table>

</div>

</div>

<br>
<br>

<div class="footer">
	
<div id="demo" class="carousel slide" data-ride="carousel">
	

	<div class="carousel-inner">
		
		<div class="carousel-item active">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds"> 
			<img src="Assets/Images/WooliesAd3.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

		<div class="carousel-item">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
			<img src="Assets/Images/WooliesAd.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

		<div class="carousel-item">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
			<img src="Assets/Images/WooliesAd2.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

	</div>

</div>

</table>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="JS/jquery-3.3.1.js"></script>
<script type="text/javascript" src="JS/script.js"></script>



</body>
</html>