<!DOCTYPE html>
<html>
<head>
	<title>WWCMain</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="CSS/style.css">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale-1">

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top">

		<a class="navbar-brand NavFont" href="index.html">WWC</a>

		<ul class="navbar-nav ml-auto ">
			
			<li class="nav-item dropdown">
				
				<a href="index.html" class="nav-link dropdown-toggle NavSectionsFont" id="menuDrop" data-toggle="dropdown">
					
					Menu

				</a>

				<div class="dropdown-menu">
					
					<a href="sports.html" class="dropdown-item">Sports</a>

					<a href="economics.html" class="dropdown-item">Economics</a>

					<a href="weather.html" class="dropdown-item">Weather</a>

				</div>

			</li>

		</ul>
		
	</nav>

<div class="header">
	
	<h3 class="NavFont">Sports</h3>

</div>

<div id="sticky-anchor">
<button type="button" class="btn btn-outline-dark menubtn sticky left" onclick="openNav()">Options</button>
</div>

<br>

<div class="container-fluid">

	

	<div id="myNav" class="overlay">
		
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


		<div class="overlay-content">
			
			<a href="information.html">Information</a>
			


		</div>

	</div>


	<div class="row">
		
		<div class="col-md-6 text-center">
			
			<table class="table table-borderless">
				
				<tbody>
					
					<tr>
						
						<td>
							
							<a href="article.html" >
							<img class="img-rounded article1"  src="Assets/Images/BasketballArticleImage.jpg"> <!--Image found at https://www.hillspet.com/cat-care/new-pet-parent/kitten-growth-timeline-by-week -->

							</a>

						</td>

					</tr>

					<tr>
						
						<td>
							
							<a class="headings" href="article.html">The Raptors Won Game 4 and Are 1 Win From an N.B.A. Championship</a> <!--Title from https://www.nytimes.com/2019/06/07/sports/raptors-warriors-score.html?rref=collection%2Ftimestopic%2FBasketball&action=click&contentCollection=timestopics&region=stream&module=stream_unit&version=latest&contentPlacement=2&pgtype=collection-->

						</td>


					</tr>
					<tr>
						<td>
							<p class="paragraphLarge">OAKLAND, Calif. — The Golden State Warriors may never play another game at Oracle Arena, the concrete relic they call home, but that is suddenly a secondary concern at best for the N.B.A.’s reigning but reeling champions.</p> <!-- Article found at https://www.nytimes.com/2019/06/07/sports/raptors-warriors-score.html?rref=collection%2Ftimestopic%2FBasketball&action=click&contentCollection=timestopics&region=stream&module=stream_unit&version=latest&contentPlacement=2&pgtype=collection-->

						</td>

					</tr>

					<tr>
						
						<td>
						</td>

					</tr>
					<tr>
						
						<td>
							
							<a href="article.html">
							<img src="Assets/Images/GolfArticleImage.jpg" class="img-rounded article1"> <!-- Image from https://www.nytimes.com/2019/05/31/sports/golf/mamiko-higa-us-womens-open.html?rref=collection%2Fsectioncollection%2Fgolf&action=click&contentCollection=golf&region=stream&module=stream_unit&version=latest&contentPlacement=1&pgtype=sectionfront-->
							</a>

						</td>

					</tr>

					<tr>
						
						<td>
							
							<a href="article.index" class="headings">Mamiko Higa Holds On to the Lead at the U.S. Women’s Open</a> <!-- Headline from https://www.nytimes.com/2019/05/31/sports/golf/mamiko-higa-us-womens-open.html?rref=collection%2Fsectioncollection%2Fgolf&action=click&contentCollection=golf&region=stream&module=stream_unit&version=latest&contentPlacement=1&pgtype=sectionfront -->

						</td>

					</tr>

					<tr>
						
						<td>
							
							<p class="paragraphLarge">CHARLESTON, S.C. — Mamiko Higa of Japan birdied three of her final six holes after a weather delay of nearly two hours, shooting an even-par 71 and maintaining a one-shot lead Friday in the suspended second round of the United States Women’s Open.</p> <!--Article https://www.nytimes.com/2019/05/31/sports/golf/mamiko-higa-us-womens-open.html?rref=collection%2Fsectioncollection%2Fgolf&action=click&contentCollection=golf&region=stream&module=stream_unit&version=latest&contentPlacement=1&pgtype=sectionfront  -->

						</td>

					</tr>

				</tbody>


			</table>

		</div>

		<div class="col-md-2">
			

		</div>

		<div class="col-md-4 text-center">
		
		<table class="table table-borderless">
			
			<tbody>
				
				<tr>
					
					<td>

						<a href="article.html">
						<img class="img-rounded article2" src="Assets/Images/SoccerArticleImage.jpg"> <!-- Image found at https://ewn.co.za/2019/06/07/banyana-banyana-seek-redemption-in-world-cup-after-woeful-build-up-->
						</a>
					</td>

				</tr>

				<tr>
					
					<td>
						<a href="article.html" class="headingsSmall">BANYANA BANYANA SEEK REDEMPTION IN WORLD CUP AFTER WOEFUL BUILD-UP </a>
						<p class="paragraphLarge">
						After securing a World Cup place for the first time, the team has drawn four matches and lost six while scoring only eight goals and conceding a worrying 24.

						</p> <!-- Article found at https://ewn.co.za/2019/06/07/banyana-banyana-seek-redemption-in-world-cup-after-woeful-build-up-->

					</td>


				</tr>

				<tr>
					
					<td></td>

				</tr>

				<tr>
					
					<td>

						<a href="article.html">
						<img src="Assets/Images/TennisArticleImage.jpg" class="img-rounded article2"> <!-- Image found at https://www.nytimes.com/2019/06/08/sports/french-open-ashleigh-barty-marketa-vondrousova.html-->

						</a>

					</td>
				</tr>

				<tr>
					``
					<td>
						
						<a href="article.html" class="headingsSmall">Ashleigh Barty Wins the French Open for Her First Grand Slam Singles Title</a>
						<p class="paragraphLarge"> Four years ago, the Australian quit tennis and played pro cricket. Now she has a surprising major title and will rise to No. 2 in the rankings. </p> <!-- Article found at https://www.nytimes.com/2019/06/08/sports/french-open-ashleigh-barty-marketa-vondrousova.html -->

					</td>

				</tr>


				<tr>
					
					<td></td>

				</tr>

				<tr> 

					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
						<img src="Assets/Images/WoolworthsWaterArticle.jpg" class="img-rounded article2" id="wooliesWaterAd"> <!--Image from https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-1-5L/_/A-20088866 -->
						</a>

					</td>

				</tr>

				<tr>
					
					<td>
						
						<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds" class="headings"  id="wooliesWaterText">Check Out Our Water!</a>

					</td>

				</tr>

			</tbody>


		</table>

		</div>
		
	</div>

<div class="row">
	
<div class="col-md-12">
	
<table class="table table-borderless">
	
	<tbody>
		
		<tr>
			
			<td>
				
				<p class="NavSectionsFont">On the App Store Now</p>	

			</td>

			<td>
				
				<p class="NavSectionsFont">Follow Us On</p>

			</td>

		</tr>

		<tr>
			
			<td>
				<!-- Image found at https://www.woolworths.co.za/ -->
				<img src="Assets/Images/AppImage.png">
				<img src="Assets/Images/AppImage2.png">

			</td>

			<td>
				
				<img src="Assets/Images/facebook3.png" class="bottomInfo"> <!-- Image found at https://www.armstrongsgroup.com/contact/facebook-logo-black-and-white-png/ -->
				<img src="Assets/Images/twitter.png" class="bottomInfo"> <!--Image found at https://www.iconsdb.com/white-icons/twitter-icon.html -->
				<img src="Assets/Images/instagram2.png" class="bottomInfo"> <!-- Image found at https://sickboat.com/about/instagram-logo-black-png/ -->
			</td>

		</tr>

		<tr>
			<td>
				
			</td>
		</tr>

	</tbody>

</table>

</div>

</div>

<br>
<br>

<div class="footer">
	
<div id="demo" class="carousel slide" data-ride="carousel">
	

	<div class="carousel-inner">
		
		<div class="carousel-item active">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds"> 
			<img src="Assets/Images/WooliesAd3.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

		<div class="carousel-item">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
			<img src="Assets/Images/WooliesAd.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

		<div class="carousel-item">
			
			<a href="https://www.woolworths.co.za/prod/Food/Beverages-Juices/Water/Unflavoured-Water/Still-Natural-Spring-Water-5L-Max-16-bottles-per-Online-order/_/A-20151447?gclid=CjwKCAjwue3nBRACEiwAkpZhmSzG53eShKoIgS6AiYRRhxxBXpf2IsfhzEMt2yUoXaYD0mwgiOV__RoCPlYQAvD_BwE&gclsrc=aw.ds">
			<img src="Assets/Images/WooliesAd2.png">
			</a>

			<!-- Image found at https://www.woolworths.co.za/ -->

		</div>

	</div>

</div>

</table>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="JS/jquery-3.3.1.js"></script>
<script type="text/javascript" src="JS/script.js"></script>



</body>
</html>